@using WebQuanLyNhaHang.Models;
@model IList<Feedback>

<div class="owl-carousel testimonial-carousel">
    @foreach (var item in Model)
    {
        <div class="testimonial-item bg-transparent border rounded p-4">
            <i class="@item.Icon"></i>
            <p style="display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;">@item.Description</p>
            <div class="d-flex align-items-center">
                <img class="img-fluid flex-shrink-0 rounded-circle" src="@item.Image" style="width: 50px; height: 50px;">
                <div class="ps-3">
                    <h5 class="mb-1">@item.Name</h5>
                    <small>@item.Profession</small>
                </div>
            </div>
        </div>
    }
    <!--
    <div class="testimonial-item bg-transparent border rounded p-4">
        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
        <div class="d-flex align-items-center">
            <img class="img-fluid flex-shrink-0 rounded-circle" src="~/assets/img/testimonial-2.jpg" style="width: 50px; height: 50px;">
            <div class="ps-3">
                <h5 class="mb-1">Client Name</h5>
                <small>Profession</small>
            </div>
        </div>
    </div>
    <div class="testimonial-item bg-transparent border rounded p-4">
        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
        <div class="d-flex align-items-center">
            <img class="img-fluid flex-shrink-0 rounded-circle" src="~/assets/img/testimonial-3.jpg" style="width: 50px; height: 50px;">
            <div class="ps-3">
                <h5 class="mb-1">Client Name</h5>
                <small>Profession</small>
            </div>
        </div>
    </div>
    <div class="testimonial-item bg-transparent border rounded p-4">
        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
        <div class="d-flex align-items-center">
            <img class="img-fluid flex-shrink-0 rounded-circle" src="~/assets/img/testimonial-4.jpg" style="width: 50px; height: 50px;">
            <div class="ps-3">
                <h5 class="mb-1">Client Name</h5>
                <small>Profession</small>
            </div>
        </div>
    </div>
    -->
</div>

